/**media queries**/

@media screen and (max-width: 375px) {
  body {
    /* overflow-x: hidden; */
  }
  #blog-nav {
    display: none;
  }

  .blog-showcase-para h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 4rem;
  }

  .blog-showcase-para p {
    text-align: center;
    margin-left: 3rem;
    width: 70%;
  }

  /*sectioon one queries start*/
  #blog-section-one {
    /* padding-bottom: 5rem; */
  }

  #blog-section-one h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    /* margin-left: 3rem; */
  }

  .blog-section-intro {
    display: block;
  }

  .intro-text {
    width: 100%;
    margin-left: 3rem;
  }

  .intro-text p {
    width: 80%;
  }

  .blog-section-image1 {
    width: 70%;
    margin-top: 5rem;
    margin-left: 3rem;
  }

  .blog-section-image1 img {
  }

  /* .blog-mobile-image {
  width: 10%;
} */

  .blog-mobile img {
  }

  .blog-inner-mobile {
    display: block;
  }

  .blog-laptop-design {
    display: block;
  }

  .blog-laptop-image {
    width: 70%;
    margin-left: 5rem;
    margin-top: -13rem;
  }

  .blog-laptop-intro {
    width: 50%;
    padding-top: 7rem;
    padding-right: 7rem;
  }

  .laptop-intro h3 {
    margin-top: 15rem;
    width: 100%;
  }

  .laptop-para {
    font-size: 16px;
    line-height: 1.5rem;
    text-align: center;
    /* width: 100%; */
  }

  /* footer media queries start*/
  .blog-footer {

    padding-bottom: 6rem;
    
    
  }

  .blog-footer-inner {
    display: block;
    text-align: center;
    margin-left: 1rem;
  }

  .blog-logo {
    margin-left: 2rem;
    margin-bottom: 4rem;
  }

  .blog-footer-inner h4 {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
  }

  .blog-footer-item li {
    margin-bottom: 1rem;
  }
}
